<%- include('partials/header'); %>

<main>
    <div class="row profile">
        <div class="col-12">
            <div class="row profile-info">
                <div class="col-12 col-md-3">
                    <p><% console.log(users) %></p>
                    <img src="<%= users[2].tumbnail %>" alt="User Profile">
                </div>
                <div class="col-12 col-md-9">
                    <h1> Hello <%= users[2].username%></h1>
                    <h3>Anime discription:</h3>
                    <p><%= users[2].discription%></p>
                </div>
            </div>
            <section class="anime-entry">
                <div class="row">

                    <% animes.forEach( anime =>{ %>
                    <% if (anime.like == true){%>
                    <%- include('partials/loop/anime', {
                                anime: anime
                            }); %>

                    <% }
                    });%>

                </div>
            </section>

        </div>
    </div>
</main>

<%- include('partials/footer'); %>