<%- include('partials/header'); %>

<main>
    <div class="row">
        <section class="col-12 col-md-10 single">
            <% anime.forEach( anime =>{ %>

            <section class="row detail">
                <div class="col-12 col-md-4">
                    <img src="/uploads/animes/<%= anime.tumbnail %>" alt="Anime cover">
                    <div class="rating">
                        <% for(let i = 0; i < anime.rating; i++) {%>
                        <span>&#9733;</span>
                        <% } %>
                    </div>
                </div>

                <div class="col-12 col-md-8 info">
                    <h1><%= anime.name %></h1>
                    <h2>Info:</h2>
                    <p><%= anime.storyline %></p>
                    <p>Genres: <%= anime.genres %> </p>
                    <div>
                        <form action="/like" id="like" method="POST">
                            <% if(anime.like == true){ %>
                            <input type="submit" class="liked" name="liked" value="Liked" disabled>
                            <span class="tooltiptext">Anime is already liked. To dislike go to "My list"</span>
                            <% } else{ %>
                            <button type="submit" class="btn" name="like" value="<%= anime._id %>">Like</button>
                            <% } %>
                        </form>

                        <div>
                            <a href="/update-anime?id=<%= anime._id %>&slug=<%= anime.slug %>"><i class="bi bi-pencil"></i></a>
                            <form action="/anime/delete?_method=DELETE" method="POST">
                                <button type="submit" name="delete" id="delete" value="<%= anime._id %>">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
            </section>

            <section class="quote">
                <h4>Can you guess from which anime?</h4>
                <p id="quote-text"></p>
                <p id="quote-name"></p>
            </section>

            <% }); %>
        </section>

        <%- include('partials/sidebar'); %>
    </div>
</main>

<%- include('partials/footer'); %>