<%- include('partials/header'); %>

<main>
    <div class="row profile">
        <div class="col-12">
            <div class="row profile-info">
                <div class="col-12 col-md-3">
                    
                    <!-- add where user id = session user id -->
                    <img src="<%= user[2].tumbnail %>" alt="User Profile">
                </div>
                <div class="col-12 col-md-9">
                    <!-- add where user id = session user id -->
                    <h1> Hello <%= user[2].username%></h1>
                    <h3>Anime discription:</h3>
                    <!-- add where user id = session user id -->
                    <p><%= user[2].discription%></p>
                </div>
            </div>
            <section class="anime-entry">
                <div class="row">

                    <!-- add where user id = session user id -->
                    <% animes.forEach( anime =>{ %>
                    <% if (anime.like == "y"){%>
                    <%- include('partials/loop/anime', {
                            anime: anime
                        }); %>

                    <% }
            });%>


                </div>
            </section>

        </div>
    </div>
</main>

<%- include('partials/footer'); %>