<%- include('partials/header'); %>

<main>
    <div class="row">
        <section class="col-12 col-md-10 single">

            <section class="row info">
                <div class="col-12 col-md-4">
                    <img src="<%= animes.tumbnail %>" alt=" Anime cover">

                </div>
                <div class="col-12 col-md-8">
                    <h1><%= animes.name %></h1>
                    <h2>Info:</h2>
                    <p><%= animes.storyline %></p>
                    <p>Genres: <%= animes.genre %> </p>
                    <form action="/like" id="like" method="POST">
                        <% if(animes.like == true){ %>
                        <input type="submit" class="liked" name="liked" value="Liked" disabled>
                        <span class="tooltiptext">Anime is already liked. To dislike go to "My list"</span>
                        <% } else{ %>
                        <input type="submit" class="btn" name="like" value="Like">
                        <% } %>


                    </form>
                </div>
            </section>

            <section class="episode">
                <p id="quote"></p>
                <h3>Episode List</h3>
                <% for(let i = 1; i < animes.episodes; i++) {%>

                <p><%= animes.name %> Episode Subbed <%= i %></p>

                <% } %>
            </section>
        </section>

        <%- include('partials/sidebar'); %>
    </div>
</main>

<%- include('partials/footer'); %>